{% load static %}
<html>
	<head>		
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'css/ff.css' %}">
	</head>
	<body>
		<div>
			<h1>Fantasy Football is great!</h1>
			<p>But sometimes it's the worst!
			Here's our league homepage:
			<a href="https://fantasy.espn.com/football/league?leagueId=692156">click me</a>
			</p>
		</div>

		<div class="page-header">
			<h1><a href="/">Django Girls Blog</a></h1>
		</div>
		<div class="content container">
			<div class="row">
				<div class="col-md-8">
				{% block content %}
				{% endblock %}
				</div>
			</div>
		</div>
	</body>
		
	</body>
</html>