{% load static %}
<html>
	<head>	
		<title>Fantasy Football Blog</title>
		<script
			src="https://code.jquery.com/jquery-3.4.1.js"
			integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
			crossorigin="anonymous"></script>
		<script src="https://code.highcharts.com/highcharts.src.js"></script>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'css/ff.css' %}">
	</head>
	<body>
		<div class="page-header">
			{% if user.is_authenticated %}
				<a href="{% url 'post_new' %}" class="top-new"><span class "glyphicon glyphicon-plus"></span></a>
			{% endif %}
			<h1><a href="/">Fantasy Football Blog</a></h1>
		</div>
		<div class="content container">
			<div class="row">
				<div class="col-md-8">
				{% block content %}
				{% endblock %}
				</div>
			</div>
		</div>
	</body>
		
	</body>
</html>